[submodule "src/manager/motor_manager"]
	path = src/manager/motor_manager
	url = https://github.com/SeonilChoi/MOTOR-MANAGER.git
[submodule "src/ros2"]
	path = src/ros2
	url = https://github.com/SeonilChoi/GATE-MANAGER.git
